html {
    font-size: 150%;
  }

.headerTitle {
    text-align: center;
    vertical-align: middle;
    font-size:200%;
    padding-left: 20%;
}
.header {
    display: flex;
  position: relative;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 0px 20px;
  align-items: center;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

h3 {
 padding-top: 10px;
}

div.bodyIntro {
    background-color: #9bc0ca;
    width: 50%;
}
div.work1Left {
    background-color: #ffffff;
    width: 50%;
    /* height: 201px; */
    float: left;
}
.work2 {
    background-color: #a9d0db;
    width: 50%;
    float: left;
}
.work2Right {
    float: right;
    width: 50%;
    /* height: 150px; */
}
div.work1 {
    background-color: #a9d0db;
    width: 50%;
    float: right;
    
}
.workHistory {
    text-align:center;
}

img {
    /* padding-left: 15px; */
    vertical-align: middle;
}
img.iconsTelegram {
    width: 50px;
    height: auto;

}
.h3skill {
    padding-top: 10px;
    
}
.entity2{
    display: flex;
}
.entity1{
    display: flex;
}
img.iconsGit {
    width: 150px;
    height: auto;
    padding-top: 0px;
}
img.iconsLinkedIn {
    width: 250px;
    height: auto;
    padding-top: -20px;
}

img.resize {
    float: left;
    width: 200px;
    height: auto;
    border-radius: 50%;
    clip-path: circle();
}

ul li{
    padding-top: 10px;
    
}
footer {
    text-align:center; 
}